<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VialTemplate</title>
</head>

<body>
    <canvas width="400" height="300" id="canvas"
        style="position: fixed; left: 0px; top: 0px; width: 100vw; height: 100vh; z-index: -1; image-rendering: pixelated; background: linear-gradient(132deg,rgba(65, 63, 110, 1) 0%, rgba(141, 138, 166, 1) 35%, rgba(128, 182, 194, 1) 100%);"></canvas>
    <span id="fps_counter" style="border-radius: 4px; background-color: rgba(0, 0, 0, 0.25); position: fixed; top: 0; left: 0; color: white; pointer-events: none; z-index: 102; font-family: monospace;">NaN FPS</span>
    <br>
    <button id="init">init</button>
    <button id="draw">draw</button>
    <span id="webgl">Checking WebGL Availability...</span>
    <script src="coi-sw.min.js"></script>
    <script src="vial.js"></script>
    <script>
        function detectWebGLContext() {
            const canvas = document.createElement("canvas");
            const gl = canvas.getContext("webgl");
            return (gl instanceof WebGLRenderingContext)
                ? "Congratulations! Your browser supports WebGL."
                : "Failed. Your browser or device may not support WebGL.";
        }

        globalThis.VIAL_CHANNEL_COUNT = 2;
        globalThis.VIAL_TARGET_SAMPLERATE = 16000;
        globalThis.VIAL_AUDIO_STACK_SIZE_SAMPLES = 2048; //4 ??x(1:2) packets
        globalThis.VIAL_CLOCKSPEED_MULTIPLIER = 1.25; //Speed multiplier for how often the audio render loop checks if rendering is necessary

        const pages = 9817; //64kb pages
        const memSize = pages * 64 * 1024;

        // float = 4b
        // if stereo, each packet is 1024 instead (obvi)
        // structure
        // DATA STORAGE = VIAL_CHANNEL_COUNT*audioQueueSize*??*4
        // POINTER STACK = (4byte pointer)*audioQueueSize*VIAL_CHANNEL_COUNT
        // CONSUMPTION = 1 byte
        // LOCK = 1 byte

        const SMEM = new WebAssembly.Memory({
            initial: pages,
            maximum: pages,
            shared: true
        });

        const rootBuffer = SMEM.buffer;

        createModule({
            canvas: document.querySelector("#canvas"),
            wasmMemory: SMEM
        }).then(Vial => {
            globalThis.Vial = Vial;
        });

        addEventListener("contextmenu", (e) => { e.preventDefault(); });
        function debounce(func, delay) {
            let timeout;
            return function (...args) {
                clearTimeout(timeout);
                timeout = setTimeout(() => {
                    func.apply(this, args);
                }, delay);
            };
        }

        function ratelimit(func, mininterval) {
            let lastSend = -1;
            let timeout;
            return function (...args) {
                clearTimeout(timeout);
                if ((Date.now() - lastSend) > mininterval) {
                    func.apply(this, args);
                    lastSend = Date.now();
                } else {
                    timeout = setTimeout(() => {
                        func.apply(this, args);
                    }, mininterval * 2);
                }
            };
        }
        
        addEventListener("load", () => {
            let inited = false;
            document.querySelector("#webgl").innerText = detectWebGLContext() + "\n" + (crossOriginIsolated ? "Web Workers and SAB ready!" : "SAB not supported :(");
            document.querySelector("#init").addEventListener("click", () => {
                if (inited) {
                    return;
                }
                inited = true;
                Vial._startApplication_Classic();
                Vial._vialSetWindowSize(innerWidth * devicePixelRatio, innerHeight * devicePixelRatio);
                let prevFrame = performance.now();
                let audioTime = 0;
                let droppedPacketCountRef = 0;
                function renderLoop() {
                    const now = performance.now();
                    Vial._vialRedraw();
                    const post = performance.now();

                    setTimeout(renderLoop, Math.max(1 / 60, 1000 / 24 - (post - now)));
                    document.querySelector("#fps_counter").innerText = `${(1000/(now - prevFrame)).toFixed(2)} FPS (💻${(1000/(post - now)).toFixed(2)}) [🔊${audioTime.toFixed(1)}ms]`;

                    prevFrame = now;
                }
                renderLoop();
                document.querySelector("#canvas").style.zIndex = 100;

                setTimeout(async ()=>{
                    const audioContext = new AudioContext({
                        sampleRate: VIAL_TARGET_SAMPLERATE,
                        latencyHint: "balanced"
                    });
                    await audioContext.audioWorklet.addModule("worklet.js");
                    const vialNode = new AudioWorkletNode(
                        audioContext,
                        "vial",
                        {
                            numberOfOutputs: 1, 
                            outputChannelCount: [VIAL_CHANNEL_COUNT]
                        }
                    );
                    vialNode.port.onmessage = (ev) => {
                        if (ev.data.bufferSize) {
                            globalThis.VIAL_BSIZE = ev.data.bufferSize;
                            const audioStackSize = Math.ceil(VIAL_AUDIO_STACK_SIZE_SAMPLES / VIAL_BSIZE);
                            console.log("Buffer size: ", VIAL_BSIZE);
                            console.log(((audioStackSize*VIAL_BSIZE)/VIAL_TARGET_SAMPLERATE*1000).toFixed(1) + "ms of audio latency.");

                            Vial._setupAudioThread(VIAL_CHANNEL_COUNT, audioStackSize, VIAL_BSIZE, VIAL_CLOCKSPEED_MULTIPLIER);

                            console.log("Attempting AudioWorklet init!");
                            
                            globalThis._dbgVialNode = vialNode;
                            vialNode.port.postMessage({
                                sharedArrBuf: rootBuffer,
                                consumption: _V_AUDIO_CONSUMPTION_PTR,
                                lockPtr: _V_AUDIO_LOCK_PTR,
                                bufferStack: _V_AUDIO_PTRSTACK
                            });

                            console.log("Message posted.");
                        }
                    }
                    
                   
                    vialNode.connect(audioContext.destination);
                }, 250);
            });
            document.querySelector("#draw").addEventListener("click", () => {
                Vial._vialRedraw();
            });
            const ev = {
                lmb: false,
                mmb: false,
                rmb: false,
                ctrlKey: false,
                shiftKey: false,
                altKey: false,
                x: 0,
                y: 0,
                dbl: false,
                wheel: 0,
            }

            function sendMouseEvent() {
                if (!inited) {
                    return;
                }
                //console.log("sending mouse data.");
                Vial._processMouseEvent(ev.lmb, ev.mmb, ev.rmb, ev.ctrlKey, ev.shiftKey, ev.altKey, Math.floor(ev.x * devicePixelRatio), Math.floor(ev.y * devicePixelRatio), ev.dbl, ev.wheel);
                ev.wheel = 0;
                ev.dbl = false;
            }
            const queueMouseEvent = ratelimit(sendMouseEvent, 1000 / 120);
            const canvas = document.querySelector("#canvas");
            canvas.addEventListener("mousedown", (event) => {
                if (event instanceof MouseEvent) {
                    event.preventDefault();
                    switch (event.button) {
                        case 0:
                            ev.lmb = true;
                            break;
                        case 1:
                            ev.mmb = true;
                            break;
                        case 2:
                            ev.rmb = true;
                            break;

                        default:
                            break;
                    }
                    ev.ctrlKey = event.ctrlKey;
                    ev.altKey = event.altKey;
                    ev.shiftKey = event.shiftKey;
                    ev.x = event.layerX;
                    ev.y = event.layerY;
                    queueMouseEvent();
                }
            });
            canvas.addEventListener("mouseout", () => {
                event.preventDefault();
                ev.lmb = false;
                ev.mmb = false;
                ev.rmb = false;
                ev.ctrlKey = false;
                ev.altKey = false;
                ev.shiftKey = false;
                queueMouseEvent();
            });
            canvas.addEventListener("dblclick", () => {
                ev.dbl = true;
                queueMouseEvent();
            });
            canvas.addEventListener("wheel", (e) => {
                ev.wheel += Math.min(Math.max(-1, e.deltaY), 1);
                queueMouseEvent();
            });
            canvas.addEventListener("mouseup", (event) => {
                if (event instanceof MouseEvent) {
                    switch (event.button) {
                        case 0:
                            ev.lmb = false;
                            break;
                        case 1:
                            ev.mmb = false;
                            break;
                        case 2:
                            ev.rmb = false;
                            break;

                        default:
                            break;
                    }
                    ev.ctrlKey = event.ctrlKey;
                    ev.altKey = event.altKey;
                    ev.shiftKey = event.shiftKey;
                    ev.x = event.layerX;
                    ev.y = event.layerY;
                    queueMouseEvent();
                }
            });
            canvas.addEventListener("mousemove", (event) => {
                if (event instanceof MouseEvent) {
                    ev.ctrlKey = event.ctrlKey;
                    ev.altKey = event.altKey;
                    ev.shiftKey = event.shiftKey;
                    ev.x = event.layerX;
                    ev.y = event.layerY;
                    queueMouseEvent();
                }
            });
            const resizeHandler = () => {
                console.log("Triggering resize!");
                if (!inited) {
                    return;
                }
                Vial._vialSetWindowSize(innerWidth * devicePixelRatio, innerHeight * devicePixelRatio);
            };

            const debouncedHandler = debounce(resizeHandler, 850);
            addEventListener("resize", () => {
                debouncedHandler();
            });
        });
        function getProgramComponents(programID, kNumShaders) {
            kNumShaders ||= 21;
            return {
                "VertexShaderID": Math.floor(programID / kNumShaders),
                "FragmentShaderID": programID % kNumShaders
            };
        }
    </script>
</body>

</html>