<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VialTemplate</title>
</head>

<body>
    <canvas width="400" height="300" id="canvas"
        style="position: fixed; left: 0px; top: 0px; width: 100vw; height: 100vh; z-index: -1; image-rendering: pixelated; background: linear-gradient(132deg,rgba(65, 63, 110, 1) 0%, rgba(141, 138, 166, 1) 35%, rgba(128, 182, 194, 1) 100%);"></canvas>
    <span id="fps_counter" style="border-radius: 4px; background-color: rgba(0, 0, 0, 0.25); position: fixed; top: 0; left: 0; color: white; pointer-events: none; z-index: 102; font-family: monospace;">NaN FPS</span>
    <br>
    <span id="webgl">Checking WebGL Availability...</span>
    <button id="init">init</button>
    <button id="draw">draw</button>
    <script src="vial.js"></script>
    <script>
        function detectWebGLContext() {
            const canvas = document.createElement("canvas");
            const gl = canvas.getContext("webgl");
            return (gl instanceof WebGLRenderingContext)
                ? "Congratulations! Your browser supports WebGL."
                : "Failed. Your browser or device may not support WebGL.";
        }

        globalThis.VIAL_CHANNEL_COUNT = 1;
        globalThis.VIAL_TARGET_SAMPLERATE = 24000;
        
        const pages = 9817; //64kb pages
        const memSize = pages * 64 * 1024;

        const SMEM = new WebAssembly.Memory({
            initial: pages,
            maximum: pages,
            shared: true
        });

        const rootBuffer = SMEM.buffer;

        createModule({
            canvas: document.querySelector("#canvas"),
            wasmMemory: SMEM
        }).then(Vial => {
            globalThis.Vial = Vial;
        });

        addEventListener("contextmenu", (e) => { e.preventDefault(); });
        function debounce(func, delay) {
            let timeout;
            return function (...args) {
                clearTimeout(timeout);
                timeout = setTimeout(() => {
                    func.apply(this, args);
                }, delay);
            };
        }

        function ratelimit(func, mininterval) {
            let lastSend = -1;
            return function (...args) {
                if ((Date.now() - lastSend) > mininterval) {
                    func.apply(this, args);
                    lastSend = Date.now();
                }
            };
        }
        
        addEventListener("load", () => {
            let inited = false;
            document.querySelector("#webgl").innerText = detectWebGLContext();
            document.querySelector("#init").addEventListener("click", () => {
                if (inited) {
                    return;
                }
                inited = true;
                Vial._startApplication_Classic();
                Vial._vialSetWindowSize(innerWidth * devicePixelRatio, innerHeight * devicePixelRatio);
                let prevFrame = performance.now();
                let audioTime = 0;
                let droppedPacketCount = 0;
                function renderLoop() {
                    const now = performance.now();
                    Vial._vialRedraw();
                    const post = performance.now();

                    setTimeout(renderLoop, 1000 / 30);
                    document.querySelector("#fps_counter").innerText = `${(1000/(now - prevFrame)).toFixed(2)} FPS (💻${(1000/(post - now)).toFixed(2)}) [🔊${audioTime.toFixed(1)}ms] {🔇${droppedPacketCount}}`;

                    prevFrame = now;
                }
                renderLoop();
                document.querySelector("#canvas").style.zIndex = 100;

                setTimeout(()=>{
                    const outContext = new AudioContext({
                        sampleRate: globalThis.VIAL_TARGET_SAMPLERATE,
                        latencyHint: "balanced"
                    });
                    const scriptProcessor = outContext.createScriptProcessor(512, 0, globalThis.VIAL_CHANNEL_COUNT);
                    
                    const fptr = Vial._audioCallback(1) / 4;
                    const buffer = Vial.HEAPF32.subarray(fptr, fptr + 512);
                    // audio render loop
                    const intervalSize = (512 / VIAL_TARGET_SAMPLERATE) * 1000;
                    let dropPacket = false;
                    
                    scriptProcessor.onaudioprocess = function (ev) {
                        if (dropPacket) {
                            dropPacket = false;
                            droppedPacketCount++;
                            return;
                        }
                        const p = performance.now();
                        Vial._audioCallback(1);
                        audioTime = performance.now() - p;
                        if (intervalSize < audioTime) {
                            dropPacket = true;
                        }
                        buffer.forEach((x, i)=>buffer[i]+=(Math.random()-0.5)*0.000);
                        ev.outputBuffer.copyToChannel(buffer, 0);
                    }
                    //scriptProcessor.connect(outContext.destination);
                }, 250);
            });
            document.querySelector("#draw").addEventListener("click", () => {
                Vial._vialRedraw();
            });
            const ev = {
                lmb: false,
                mmb: false,
                rmb: false,
                ctrlKey: false,
                shiftKey: false,
                altKey: false,
                x: 0,
                y: 0,
                dbl: false,
                wheel: 0,
            }

            function sendMouseEvent() {
                if (!inited) {
                    return;
                }
                //console.log("sending mouse data.");
                Vial._processMouseEvent(ev.lmb, ev.mmb, ev.rmb, ev.ctrlKey, ev.shiftKey, ev.altKey, Math.floor(ev.x * devicePixelRatio), Math.floor(ev.y * devicePixelRatio), ev.dbl, ev.wheel);
                ev.wheel = 0;
                ev.dbl = false;
            }
            const queueMouseEvent = ratelimit(sendMouseEvent, 1000 / 60);
            const canvas = document.querySelector("#canvas");
            canvas.addEventListener("mousedown", (event) => {
                if (event instanceof MouseEvent) {
                    event.preventDefault();
                    switch (event.button) {
                        case 0:
                            ev.lmb = true;
                            break;
                        case 1:
                            ev.mmb = true;
                            break;
                        case 2:
                            ev.rmb = true;
                            break;

                        default:
                            break;
                    }
                    ev.ctrlKey = event.ctrlKey;
                    ev.altKey = event.altKey;
                    ev.shiftKey = event.shiftKey;
                    ev.x = event.layerX;
                    ev.y = event.layerY;
                    queueMouseEvent();
                }
            });
            canvas.addEventListener("dblclick", () => {
                ev.dbl = true;
                queueMouseEvent();
            });
            canvas.addEventListener("wheel", (e) => {
                ev.wheel += Math.min(Math.max(-1, e.deltaY), 1);
                queueMouseEvent();
            });
            canvas.addEventListener("mouseup", (event) => {
                if (event instanceof MouseEvent) {
                    switch (event.button) {
                        case 0:
                            ev.lmb = false;
                            break;
                        case 1:
                            ev.mmb = false;
                            break;
                        case 2:
                            ev.rmb = false;
                            break;

                        default:
                            break;
                    }
                    ev.ctrlKey = event.ctrlKey;
                    ev.altKey = event.altKey;
                    ev.shiftKey = event.shiftKey;
                    ev.x = event.layerX;
                    ev.y = event.layerY;
                    queueMouseEvent();
                }
            });
            canvas.addEventListener("mousemove", (event) => {
                if (event instanceof MouseEvent) {
                    ev.ctrlKey = event.ctrlKey;
                    ev.altKey = event.altKey;
                    ev.shiftKey = event.shiftKey;
                    ev.x = event.layerX;
                    ev.y = event.layerY;
                    queueMouseEvent();
                }
            });
            const resizeHandler = () => {
                console.log("Triggering resize!");
                if (!inited) {
                    return;
                }
                Vial._vialSetWindowSize(innerWidth * devicePixelRatio, innerHeight * devicePixelRatio);
            };

            const debouncedHandler = debounce(resizeHandler, 850);
            addEventListener("resize", () => {
                debouncedHandler();
            });
        });
        function getProgramComponents(programID, kNumShaders) {
            kNumShaders ||= 21;
            return {
                "VertexShaderID": Math.floor(programID / kNumShaders),
                "FragmentShaderID": programID % kNumShaders
            };
        }
    </script>
</body>

</html>